a{
	text-decoration: none;
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
}





.body_wrapper{
	width: 750px;
	height: 1030px;
	background-color: orange;
	margin: auto;
}
.content_align_wrapper{
	width:690px;
	margin:auto;

}

header{
	width: 690px;
	height:56px;
	
}

.logo_holder{
	width: 118px;
	height:56px;
	float: left;
}
.logo_holder a{
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	height: 56px;
	width: 118px;
	display: block;
}
.link_tabs{
	height:56px;
	float: right;
}
.link_tabs li{
	display: inline-block;
	margin: 30px 5px 5px 5px;
}
.link_tabs li:first-child{
	border-right: solid 1px #666;
	padding-right: 10px;
}

section{
	width: 690px;
	height:746px;
	background-color: blue;

}
article{
	width: 493px;
	height:746px;
	background-color: pink;
	float: left;

}
aside{
	width: 197px;
	height:746px;
	background-color: beige;
	float: left;
}



/*start of footer styles*/

footer{
	width: 690px;
	height:176px;
	
}

.footer_about_links {
	width: 690px;
	height:50px;
	
}
.footer_about_links ul{
	text-align: center;
}
.footer_about_links li{
	display: inline-block;
	margin: 15px;
}
.footer_about_links li a{
	font: 200 11px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
}
.footer_about_links li a:hover{
	text-decoration: underline;
}	

.footer_security_links{
	width: 690px;
	
} 
.footer_security_links ul{
	text-align: center;
}
.footer_security_links li{
	display: inline-block;

}
.footer_security_links li:first-child{
	padding-right: 40px;
}
.footer_security_links li:nth-child(2){
	padding-left: 40px;
}

.copyright_links{
	width: 690px;
	height:50px;
	
}
.copyright_links ul{
	text-align: center;
}
.copyright_links ul > :first-child{
	border-right: solid 1px #666;
}
.copyright_links li{
	display: inline-block;
	font: 200 11px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
	margin-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}